*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
body {
    height: 100vh;
}
header
{
    height: 20vh !important;
}

a{
    text-decoration: none !important;
    color: #000 !important;
}

ul {
    list-style: none;
}
header {
    border-bottom: 1px solid #dddd;
    display: flex;
    align-items: center;
    justify-content: center;

}
.admin-content
{
    width: 100%;
    height: 80vh !important;
    margin: 0;
    padding: 0;
}
.bg-cus-gray
{
    background-color: #dddd !important;
}
.cus-input-file
{
    background-color: #000;
}